{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "plugin:vue/recommended",
    "@vue/prettier",
    "plugin:vuetify/base"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "rules": {
    "eqeqeq": "warn",
    "vue/eqeqeq": "warn",
    "no-shadow": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "no-console": "warn"
  }
}
