{
  "WEB_API_URL": "https://your-webapi-host/WebAPI",
  "ARES_API_URL": "https://your-ares-backend-host",
  "USE_ANNOTATIONS_API": false,
  "WEB_API_ENABLED": false,
  "DUCKDB_ENABLED": false,
  "CDM_NETWORK_NAME": "Your Network Name",
  "CHARACTERIZATION": false
}
