
* {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
}

.pvtUi {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.pvtUi select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtUi td {
    overflow-x: auto;
}

.pvtUi td.pvtOutput {
    padding: 6px;
    vertical-align: top;
    border: 1px solid #a2b1c6;
    overflow-x: auto;
}

table.pvtTable {
    text-align: left;
    border-spacing: 2px;
    width: 100%;

}

table.pvtTable thead tr th,
table.pvtTable tbody tr th {
    background-color: var(--v-accent-base);
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable tbody tr td {
    padding: 3px;
    background-color: var(--v-base);
    border: 1px solid var(--v-accent-base);
    vertical-align: top;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.pvtTotal,
.pvtGrandTotal {
    font-weight: inherit;
}

.pvtRowOrder,
.pvtColOrder {
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block;
    user-select: none;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtRowLabel {
    font-weight: inherit;
}

.pvtAxisLabel {
    font-weight: inherit;
}

.pvtAxisContainer,
.pvtVals {
    border: 1px solid #a2b1c6;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtVals.pvtText {
    vertical-align: middle;
    font-weight: inherit;
    user-select: none;
    padding-left: 16px;
    text-align: start;
}

.pvtRenderers {
    border: 1px solid #a2b1c6;
    user-select: none;
    width: 20%;
}

.pvtDropdown {
    border: 1px solid #a2b1c6;
    color: inherit;
    align-items: center;
    display: block;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    padding: 0px 0px 0px 3px;
    height: 40px;
    width: 80%;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    line-height: 1 !important;
    margin: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtRenderers .pvtDropdown {
    padding: 0px 0px 0px 12px;
    border: none;
    width: 25%;
    margin: 0px;
}

.pvtDropdown:last-child {
    margin-bottom: 0px;
}


.pvtVals {
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 12px;
    width: 20%;
}

.pvtRows {
    height: 35px;
    width: 20%;
}

.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor: move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #a2b1c6;
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
    display: none;
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 50%;
    border: 2px solid #c8d4e3;
    background: inherit;
    padding: 4px 7px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtAxisContainer li span.pvtAttr.sortonly {
    border: 1px solid #c8d4e3;
}
.pvtAxisContainer li span.pvtAttr.disabled {
    border: 1px solid #c8d4e3;
    cursor: not-allowed;
}
.pvtTriangle {
    cursor: pointer;
}

.pvtHorizList li {
    display: inline-block;
}
.pvtVertList {
    vertical-align: top;
}

.pvtFilteredAttribute {
    font-style: italic;
}

.sortable-chosen .pvtFilterBox {
    display: none !important;
}

.pvtFilterTextClear {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    text-decoration: none !important;
}

/* .pvtDragHandle {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    cursor: move;
    color: #a2b1c6;
} */

.pvtButton {
    display: inline-block;
    border-radius: 5px;
    padding: 3px 6px;
    border: 1px solid;
    border-color: #c8d4e3;
    margin: 3px 3px 6px 0px;
    transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none !important;
}

.pvtButton:hover {
    border-color: #a2b1c6;
}

.pvtButton:active {
}

.pvtFilterBox input {
    border: 1px solid #c8d4e3;
    border-radius: 5px;
    padding: 0 3px;
    color: inherit;
}

.pvtFilterBox input:focus {
    border-color: #119dff;
    outline: none;
}

.pvtFilterBox {
    z-index: 100;
    border: 1px solid #506784;
    max-width: 600px;
    min-width: 210px;
    background-color: var(--v-accent-lighten1);
    position: absolute;
    padding: 6px;
    user-select: none;
    min-height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtFilterBox input[type='text'] {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 6px;
    /* border-radius: 4px; */
}

.pvtFilterBox {
    padding: 3px;
}

.pvtCheckContainer {
    text-align: left;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 30vh;
    border-top: 1px solid #dfe8f3;
}

.pvtCheckContainer p {
    margin: 0;
    margin-bottom: 1px;
    padding: 3px;
    cursor: default;
}

.pvtCheckContainer p.selected {
    color: inherit;
    background: var(--v-accent-base);
    min-width: 100%;
    width: max-content;
}

.pvtOnly {
    display: none;
    width: 35px;
    float: right;
    padding-left: 5px;
    cursor: pointer;
}

.pvtOnlySpacer {
    display: block;
    width: 35px;
    float: right;
}

.pvtCheckContainer p:hover .pvtOnly {
    display: block;
}
.pvtCheckContainer p:hover .pvtOnlySpacer {
    display: none;
}

.pvtRendererArea {
    width: 50%;
    padding: 5px;
}